<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>This is my website</header>
    <div>
        @RenderBody()
    </div>
    <footer>&copy; 2020 Ryan</footer>
</body>
</html>
