@*
    this is a razor view
    the razor view engine processes files like this and turns them into html
    razor syntax is its own thing, that can combine c# and html in 1 file

    in general, in a razor view, c# is denoted by the @ in some way and everything else is html
*@

<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <p>razor view fdjgkldf;glkdfslgkjslfdkjg</p>

    </body>
</html>